@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #2E86AB
    font-family: BioRhyme, Garamond, Georgia, serif;
    font-size: 40px;
}
header {
    background-color: #c78283;
    color: #009fb7
    display: grid;
    grid-template-columns: 150px auto;
}
p {
    display: grid;
    text-align: right;
    grid-columns: 3/4;
}
.hero-img {
  width: 100%;
}
.home-paragraph-header-one{
  float: right;
}
.home-paragraph-one {
  float: right;
}
.home-img-one-left {
  float: left;
}
.home-img-two-left{
  float: left;
}
.home-paragraph-header-two{
  float: right;
}
body {
    background-color: #F6F5AE;
    font-family: "Dancing Script", Helvetica, sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.logo-box {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #2E86AB;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    color: #119cf2;
    background-color: #fff4e4; 
}
footer {
    color: #c78283;
    background-color: #fff4e4;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color:#03256C; 
}
footer p a:hover {
    text-decoration: underline;
    background-color: #f277e8;
    color: #F6F5AE;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* Center the form on the page */
    text-align: center;
  }
  
  form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

.home-paragraph-right-one{
  position: static;
  float: left;
  padding-top: 100px;
}
.faq-header-1{
  position: static;
  float: left;
  
}
.faq-paragraph-1{
  position: static;
  float: left;
}
.faq-header-2{
  position:relative;
  float: left;
}
.faq-paragraph-2{
  position: relative;
  float: left;
}
.faq-paragraph-3{
  position: fixed;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media .content {
  flex: 1;
  padding: 10px;
}


